meta(property='og:locale', content='ja_JP')
meta(property='og:type', content=data.ogType)
meta(property='og:site_name', content=data.ogSiteName)
meta(property='og:title', content=data.ogTitle)
meta(property='og:description', content=data.ogDescription)
meta(property='og:image', content=baseUrl + data.ogImg)
meta(property='og:url', content=data.ogUrl)

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content=twitterName)
meta(name='twitter:title', content=data.ogSiteName)
meta(name='twitter:description', content=data.ogDescription)
meta(name='twitter:image:src', content=baseUrl + data.ogImg)